@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <div class="row">
        @*Row Header*@
        <div class="col-2">
            one
        </div>
        <div class="col-5" style="outline:2px solid">
            two
        </div>
        <div class="col-5" style="outline:2px solid">
            three
        </div>
    </div>

    <div class="row">
        @*Row 1*@
        <div class="col-2" style="outline:2px solid">
            one
        </div>
        <div class="col-5" style="outline:2px solid">
            two
        </div>
        <div class="col-5" style="outline:2px solid">
            three
        </div>
    </div>

    <div class="row">
        @*Row 2*@
        <div class="col-2" style="outline:2px solid" >
            one
        </div>
        <div class="col-5" style="outline:2px solid">
            two
        </div>
        <div class="col-5" style="outline:2px solid">
            three
        </div>
    </div>


</div>
